<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SEIWEB</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="../assets/dist/css/estilo.css" rel="stylesheet" />
</head>
<body>
    <div id="frmAluno">
        <div class="row row-cols-md-2">
            <div class="col-md-2">
                <div class="text-center">
                    <button class="btn btn-sm btn-light bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa fa-list"></i>
                    </button>
                    <div class="dropdown">
                        <ul class="dropdown-menu">
                            <li><a id="uploadFotoAluno" class="dropdown-item" href="#"><i class="fa fa-cloud-upload"></i> Escolher arquivo</a></li>
                            <li><a id="apagarFotoAluno" class="dropdown-item" href="#"><i class="fa fa-eraser"></i> Apagar</a></li>
                        </ul>
                    </div>
                    <input id="fileUploadAluno" type="file" name="fileupload" hidden accept=".png, .jpg, .jpeg" />
                    <img id="FotoAluno" class="card-img-top mb-3" src="#" alt="[FOTO]" style="max-height: 90px;" />
                </div>
            </div>
            <div class="col-md-10">
                <div class="row mb-1">
                    <div class="col-md-3">
                        <label class="form-label required" for="AlunoCpfCnpj">CPF</label>
                        <input type="text" class="form-control form-control-sm text-uppercase" id="AlunoCpfCnpj" name="pessoa[cpfcnpj]" required />
                    </div>
                    <div class="col-md-9">
                        <label class="form-label required" for="AlunoDescricao">Descrição</label>
                        <input type="text" class="form-control form-control-sm text-uppercase" id="AlunoDescricao" name="pessoa[descricao]" required />
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label required" for="cep">CEP</label>
                                <div class="input-group input-group-sm">
                                    <input id="cep" type="text" class="form-control form-control-sm text-uppercase cep" required />
                                    <button id="btnCep" class="btn btn-sm btn-light border" type="button" tabindex="-1">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <label class="form-label required">Endereço</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="endereco" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label required" for="bairro">Bairro</label>
                                <input id="bairro" name="bairro[descricao]" type="text" class="form-control form-control-sm text-uppercase" tabindex="-1" required />
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label class="form-label required" for="municipio">Município</label>
                                        <input id="municipio" name="bairro[municipio][descricao]" type="text" class="form-control-sm form-control text-uppercase" disabled readonly />        
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label required" for="municipio">UF</label>
                                        <input id="uf" name="bairro[municipio][uf]" type="text" class="form-control form-control-sm text-uppercase" disabled readonly />        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Número</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="numero" />
                            </div>
                            <div class="col-md-9">
                                <label class="form-label">Complemento</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="complemento" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label d-flex justify-content-between align-items-center" for="AlunoNat">Naturalidade</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="AlunoNat" placeholder="" />
                            </div>
                            <div class="col-md-2">
                                <label class="form-label d-flex justify-content-between align-items-center" for="AlunoNat">UF</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="AlunoNat" placeholder="" />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label d-flex justify-content-between align-items-center" for="ie">Nacionalidade</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="ie" placeholder="" />
                            </div>
                        </div>                                 
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label required" for="cnpj">Sexo</label>
                                <select class="form-select form-select-sm text-uppercase" id="AlunoSexo">
                                    <option value="0">Não Informado</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Feminino</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="im">Nascimento</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm data" id="AlunoNasc" data-control="#AlunoIdade" />
                                    <span class="input-group-text bg-primary text-white" id="AlunoIdade" tabindex="-1">0 anos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label" for="AlunoEstadoCivil">Estado Civil</label>
                                <select class="form-select form-select-sm text-uppercase" id="AlunoEstadoCivil">
                                    <option value="0"></option>
                                    <option value="1">Solteiro(a)</option>
                                    <option value="2">Casado(a)</option>
                                    <option value="3">Divorciado(a)</option>
                                    <option value="4">Viúvo(a)</option>
                                    <option value="5">Separado(a)</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="AlunoRg">RG</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="AlunoRg" placeholder="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label" for="AlunoCel">Celular</label>
                                <div class="input-group input-group-sm">
                                    <input id="AlunoCel" type="text" class="form-control form-control-sm cel" />
                                    <div class="input-group-text d-flex justify-content-between">
                                        <input class="form-check-input me-2" type="checkbox" id="AlunoWhats">
                                        <label class="form-check-label" for="AlunoWhats">
                                            <i class="fa fa-whatsapp text-success"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="AlunoEmail">E-mail</label>
                                <input type="email" class="form-control form-control-sm text-lowercase" id="AlunoEmail" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label" for="AlunoEmail">E-mail Institucional</label>
                                <input type="email" class="form-control form-control-sm text-lowercase" id="AlunoEmailInstitucional" placeholder="" />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="AlunoEmail">Raça/Cor</label>
                                <select id="alunoracacor" class="form-select form-select-sm">
                                    <option value="0">Não Informado</option>
                                    <option value="2">Branca</option>
                                    <option value="3">Negra</option>
                                    <option value="4">Parda</option>
                                    <option value="5">Amarela</option>
                                    <option value="6">Indígena</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 text-center">
                        <label class="form-label" for="estcivilpais">Estado Civil Dos Pais</label>
                        <select id="estcivilpais" class="form-select form-select-sm">
                            <option value="0"></option>
                            <option value="1">Solteiro(a)</option>
                            <option value="2">Casado(a)</option>
                            <option value="3">Divorciado(a)</option>
                            <option value="4">Viúvo(a)</option>
                            <option value="5">Separado(a)</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" for="pai">Pai do aluno</label>
                        <div class="input-group">
                            <input id="alunopai" type="text" class="form-control text-uppercase" data-title="Pai" data-field="pai" data-resource="responsavel" tabindex="-1" required />
                            <button id="BtnAlunoPai" class="btn btn-sm btn-light border border-1 filaluno" data-parent="#alunopai" type="button" tabindex="-1">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="bairro">Mãe do aluno</label>
                        <div class="input-group">
                            <input id="alunomae" type="text" class="form-control text-uppercase" data-title="Mãe" data-field="mae" data-resource="responsavel" tabindex="-1" required />
                            <button id="BtnAlunoMae" class="btn btn-sm btn-light border border-1 filaluno" data-parent="#alunomae" type="button" tabindex="-1">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>