<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SEIWEB</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="../assets/dist/css/estilo.css" rel="stylesheet" />
</head>
<body>
    <form id="frmSaidaDoAluno">
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="form-label">Descrição</label>
                <div class="input-group input-group-sm">                                            
                    <input id="SaidaDoAlunoDescricao" name="descricao" class="form-control form-control-sm text-uppercase" type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row gutters-xs">
                <div class="col-auto">
                    <label class="colorinput">
                    <input name="color" value="dark" class="colorinput-input" name="colorinput-input" value="bg-black" type="radio">
                    <span class="colorinput-color bg-black"></span>
                    </label>
                </div>
                <div class="col-auto">
                    <label class="colorinput">
                    <input name="color" value="primary" class="colorinput-input" name="colorinput-input" value="bg-primary" type="radio">
                    <span class="colorinput-color bg-primary"></span>
                    </label>
                </div>
                <div class="col-auto">
                    <label class="colorinput">
                    <input name="color" type="radio" value="secondary" value="bg-secondary" class="colorinput-input">
                    <span class="colorinput-color bg-secondary"></span>
                    </label>
                </div>
                <div class="col-auto">
                    <label class="colorinput">
                    <input name="color" type="radio" value="info"  value="bg-info" class="colorinput-input">
                    <span class="colorinput-color bg-info"></span>
                    </label>
                </div>
                <div class="col-auto">
                    <label class="colorinput">
                    <input name="color" type="radio" value="success" value="bg-success" class="colorinput-input">
                    <span class="colorinput-color bg-success"></span>
                    </label>
                </div>
                <div class="col-auto">
                    <label class="colorinput">
                    <input name="color" type="radio" value="danger" value="bg-danger" class="colorinput-input">
                    <span class="colorinput-color bg-danger"></span>
                    </label>
                </div>
                <div class="col-auto">
                    <label class="colorinput">
                    <input name="color" type="radio" value="warning" value="bg-warning" class="colorinput-input">
                    <span class="colorinput-color bg-warning"></span>
                    </label>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>