<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SEIWEB</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="../assets/dist/css/estilo.css" rel="stylesheet" />
</head>
<body>
    <form id="frmTurma">
        <div class="row">
			<div class="col-md-12 d-flex justify-content-end">
				<div class="form-check form-switch">
				  <input class="form-check-input" type="checkbox" role="switch" id="Ativo" name="ativo" checked>
				  <label class="form-check-label" for="flexSwitchCheckChecked">ativo</label>
				</div>			
			</div>	
        </div>
        <div class="row">
			<label for="Descricao" class="col-md-2 col-form-label">Nome</label>
			<div class="col-md-10">
				<input id="Descricao" name="descricao" class="form-control form-control-sm text-uppercase" type="text" />
			</div>	
        </div>
        <div class="row">
			<label class="col-md-2 col-form-label">Curso</label>
			<div class="col-md-10">
				<div id="SelectCurso">
					<div class="loading-label w-100">
						<span class="spinner-border spinner-border-sm text-primary me-2" role="status"></span>
						Carregando registros, aguarde ...
					</div>
				</div>
			</div>	
        </div>
        <div class="row">
			<label for="Sala" class="col-md-2 col-form-label">Sala</label>
			<div class="col-md-2">
				<input id="Sala" name="sala" class="form-control form-control-sm text-uppercase" type="text" value="A" maxlength="1" />
			</div>	
        </div>
        <div class="row">
			<label for="Vagas" class="col-md-2 col-form-label">Vagas</label>
			<div class="col-md-3">
				<input id="Vagas" name="vagas" class="form-control form-control-sm text-uppercase" type="number" value="0" />
			</div>	
        </div>
        <div class="row">
			<label for="Turno" class="col-md-2 col-form-label">Turno</label>
			<div class="col-md-4">
				<select id="Turno" name="turno" class="form-select form-select-sm">
					<option value="N"></option>
					<option value="M">Matutino</option>
					<option value="V">Vespertino</option>
					<option value="N">Noturno</option>
					<option value="I">Integral</option>
				</select>
			</div>	
        </div>
        <div class="row">
			<label for="Ano" class="col-md-2 col-form-label">Ano</label>
			<div class="col-md-3">
				<input id="Ano" name="ano" class="form-control form-control-sm text-uppercase" type="number" value="0" />
			</div>	
        </div>
        <div class="row">
			<label for="DtInicio" class="col-md-2 col-form-label">Inicío</label>
			<div class="col-md-3">
				<input type="text" class="form-control form-control-sm data" id="DtInicio" name="dtInicio" />
			</div>	
        </div>
        <div class="row">
			<label for="DtFim" class="col-md-2 col-form-label">Término</label>
			<div class="col-md-3">
				<input type="text" class="form-control form-control-sm data" id="DtFim" name="dtFim" />
			</div>	
        </div>
    </div>
</body>
</html>